h1, h2, h3, footer{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
footer {
    font-size: 10px;
}
#about-content {
    text-align: center;
}
.card {
    margin: 40px;
    width: 230px;
    font-size: 15px;    
}
.card-container {
    display: grid;  
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(2, 400px);
    grid-gap: 15px;
    padding: 20px;
    justify-content: center;  
    }

