.grid-container-whole-page {
    display: grid;
    grid-template-areas:
    'navbar navbar navbar  '
    'sidebar main main  ';
    grid-template-columns: 13.5vw ;
    background-color: #00BCE7;
}

.main-content {
    grid-area: main;
    height: 90vh;
    overflow: scroll;
    overflow-x: hidden;
}

#sidebar .sidebar-space{
    grid-area: sidebar;
}