#create-reqpost-form {
    display:grid;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
   }
   
   label {
       margin-top: 5%;
   }
   
   h1 {
       text-align: center;
   }
   
   label {
       font-size: larger;
   }
   
   #req-submit-btn .btn .btn-primary {
       color: #2E3192;
   }

  #success_bar {
    display:none;
    z-index: 10;
    background-color: #B8E986;
    font-family: sans-serif;
    font-size: 2em;
    margin-left: 0px;
    height: 5%;
    width: 100%;
}
   