/* main Content */

main h1, main h2, main h3, footer{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
main h1 {
    background-image: linear-gradient(to right, rgba(12, 158, 243, 0.918), #00BCE7, rgb(108, 228, 255));
    color:white;
    padding: 40px;
}
p {
    text-align: center;
    font-size: 15px;
}
footer {
    font-size: 10px;
}
#about-content {
    text-align: center;
}
.card {
    margin: 40px;
    width: 230px;
    font-size: 15px;    
}
.card-container {
    display: flex;
    justify-content: center;
}

