h1, h2, h3, footer{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
p {
    text-align: center;
    font-size: 15px;
}
footer {
    font-size: 10px;
}
#about-content {
    text-align: center;
}
.card {
    margin: 40px;
    width: 230px;
    font-size: 15px;    
}
.card-container {
    display: flex;
    justify-content: center;
}

