/*Document Reset */
aside, article, section, header, footer, nav, a {
    display: block;
}
aside, article, section, header, footer, nav, html, body, p, h1, h2, h3, div, a {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

/* header/nav */
#bars {
    display:none;
}
header{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1170px;
}
.header_inner {
    height: 100px;
    display: flex;
    align-items: flex-end;
}
.header_inner>* {
    margin: 20px;
}
.header_inner>.space {
    flex-grow: 1;
}
.header_inner>h4.navLogin {
    margin-right: 30px;
}
#logo {
    width: 60px;
    padding-left: 20px;
}
a.nav, a.navLeft {
    color: grey;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    align-self: flex-start;
}
a.nav:hover {
    cursor: pointer;
    border-bottom: 2px solid blue;
}

#login {
    background-color: rgb(92, 213, 240);
    color: white;
    width: 140px;
    border-radius: 45px;
    transition: background-color 0.3s ease;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(2, 79, 192, .34);
}

#login:hover {
    color: white;
    background-color: #2E3192;
    border-bottom: 2px solid transparent;
}


/* Apply these styles when the width is < 765 px */
@media (max-width: 765px){
    .header_inner>h4{
        display:none;
    }
    #bars {
        display: block;
    }
}
/* Apply these styles when the width is < 500 px */
@media (max-width: 500px) {
    header>h1{
        display:none;
    }
}