nav {
    background-image: linear-gradient(to right, rgba(12, 158, 243, 0.918), #00BCE7, rgb(108, 228, 255));
    display: none;
    height: 100vh;
}
nav a {
    margin: auto;
    width: min-content;
    text-align: center;
}
#popupSpace{
    height: 100px;
}
#navPopUp a.nav{
    color:white
}
#navPopUp #login{
    background-color: white;
    color: #00BCE7;
}
#navPopUp #login:hover {
    color: white;
    background-color: #2E3192;
    border-bottom: 2px solid transparent;
}
nav a.nav:hover {
    cursor: pointer;
    border-bottom: 2px solid transparent;
    text-decoration: underline;
}