body{
    background-color:gainsboro;
    overflow:hidden;
}
.profile_photo {
    position: relative;
    left:20%;
    margin: 20px;
    height: 100px;
    width: 100px;
    border-radius:50px;
}

.header_logo {
    position:absolute;
    margin: 5px;
    height: 70px;
    width: 70px;
}

.btn btn-outline-info {
    float: right;
}

header {
    margin: 10px;
    height: 100px;
    background-color: darkmagenta;
}


.posts {
    margin-left:1vw;
    padding-right:1vw;
    float:left;
    width:58vw;

}

.card {
    background-color: rgb(243, 230, 205);
    margin-top: 10px;
    margin-bottom: 10px;
}

#side_profile {
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    width: 15%;
    background-color: darkcyan;
    background-size: 15% 100%;
}
/* modal sample css from w3schools */
.modal {
    display: none; /* Hidden by default */
    /* position: fixed; Stay in place */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 50%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }



  /* The map CSS */
    #map {
    height: 90vh;
    margin: auto;
    width: 33vw;
    }
    .main-content {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        overflow:hidden;
    }

    #map-container{
        padding:10px
        
    }
    i.fas {
        color:red;
        font-size: 20px;
        float: right;
    }
    i.fas:hover {
        cursor:pointer;
    }

    /* This is the div that contains all posts */
    #item_cards {
        height: 90vh;
        overflow-x: hidden; /* Disable horizontal scroll */
        width:auto;
    }
