.card-container {
    display: grid;  
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(2);
    grid-gap: 25px;
    padding: 30px;
    background-color: #00BCE7;  
    }
.card {
    padding: 5px;
    margin: 5px;
}
.btn {
    padding: 10px;
    margin: 20px;
}
.main {
    padding: 0px 10px;
    margin: 0 0 0 10px;
  }