.card-container {
    display: grid;  
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(2, 400px);
    grid-gap: 25px;
    padding: 50px;
    margin: 20px;  
    }
footer {
    font-size: 10px;
    text-align: center;
    }
.card {
    padding: 5px;
    margin: 5px;
}
.btn {
    padding: 10px;
    margin: 20px;
}