      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }
      main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
      }
      

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
        background-image: url(../img/magnifying-glass.png);
        background-size: 30px;
        background-repeat: no-repeat;
        text-indent: 20px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }


      .iw_table_row {
        height: 18px;
      }
      .iw_attribute_name {
        font-weight: bold;
        text-align: right;
      }
      .iw_table_icon {
        text-align: right;
      }

      
  /* The map CSS */
      #map {
      height: 60vh;
      margin: auto;
      width: 40vw;
      }
      
      #main-content-container{
          display: grid;
          grid-template-columns: 1fr 1fr;
      }
  
      i.fas {
          color:red;
          font-size: 20px;
          float: right;
      }
      i.fas:hover {
          cursor:pointer;
      }
  
      /* This is the div that contains all posts */
      #item_cards {
          overflow:scroll;
          height: 90vh;
          overflow-x: hidden; /* Disable horizontal scroll */
      }
      .main-content {
        overflow: hidden;
      }
  